.store {
  padding: 20px 0px 20px;
  max-width: 1024px;
  margin: auto;
}

.storeheader {
  text-align: right;
}

.listcontainer.view_module {
  display: none;
}

.cardscontainer.view_list {
  display: none;
}