.shopcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #f5f3f3;
}

.product-name {
  font-size: 20pt;
}

.product-color {
  font-size: 12pt;
}

.product-figure {
  width: 200px;
  height: 90px;
  margin: 10px 0;
  overflow: hidden;
}

.product-img {
  width: 100%;
  margin-top: -37%;
}

.product-bottom {
  width: 85%;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-price {
  font-size: 12pt;
  color: crimson;
}

.product-add {
  padding: 6px 15px;
  font-size: 6pt;
  font-weight: 900;
  color: crimson;
  border-radius: 15px;
  border-width: 1px;
  border-color:crimson;
}